/Aldec
/ANDgate
/ClockExample
/doc
/examples

/IP
/LED
/LEDblink
/LEDblink
/LEDNEW
/LSE
/QuadDeco
/QuadDecoPWM
/QuadratureDecoderPWM
/sbt_backend
/SPI_ModuleNew
/SPI_ModuleNewWithQuad
/SPI_SLAVE
/SPI_Switches
/SubInstallers
/synpbase
/verilog
vhdl
avhdl.lnk
config.xml
iCEcube2.exe
iCEcube2.xml
Setup.exe
Setup.xml
LicenseSetup.exe

